body {
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

/* .card {
  width: 1500px;
  height: 1200px;
  background-size: cover;

  background-color: black;
  opacity: 0.4;
} */

button.butt {
  cursor: pointer;
  border-radius: 10%;
  background-color: #d11913;
  height: 50px;
  width: 200px;
  margin: 18% 40%;
  color: white;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

button.butt:hover {
  background-color: #d11913c2;
}
